@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: "Mooli";
	font-size: 18px;
}

/* Fullcalendar */
.fc .fc-button-primary {
	background-color: #407bff !important;
	border: none !important;
	border-radius: 0 !important;
	margin: 0 1px !important;
	height: 41px !important;
	text-transform: capitalize !important;
}

.fc .fc-button-primary:focus {
	outline: none !important;
}

/* Loader */
.spinner {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #407bff 94%, #0000) top/3.8px 3.8px
			no-repeat,
		conic-gradient(#0000 30%, #407bff);
	mask: radial-gradient(farthest-side, #0000 calc(100% - 3.8px), #000 0);
	-webkit-mask: radial-gradient(
		farthest-side,
		#0000 calc(100% - 3.8px),
		#000 0
	);
	animation: spinner 1.4s infinite linear;
}

@keyframes spinner {
	100% {
		transform: rotate(1turn);
	}
}
